:root {
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;

	--bg-low: var(--nord0);
	--bg-med: var(--nord1);
	--bg-high: var(--nord1);
	--text: var(--nord4);
}

html {
	height: 100%;
	overflow: auto;
}

body {
	background-color: var(--bg-high);
	margin: 0;
	font-family: "Source Sans Pro", serif;
	color: var(--text);
	height: 100%;
	overflow: auto;
}

p {
	color: var(--text);
}

a {
	text-decoration: none;
	color: var(--text);
}

.header {
	background-color: var(--bg-low);
	display: flex;
	justify-content: space-between;
	padding: .25rem;
}
.header-container {
	background-color: var(--bg-low);
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 1;
	padding: .25rem;
}
.header-title-container {
	border: 4px solid;
	border-color: var(--bg-high);
	border-radius: .5rem;
	padding: .25rem;
}
.header-title {
	font-size: 20px;
}
.header-button-container {
	display: flex;
	padding: .1rem;
}
.header-button {
	background-color: var(--bg-high);
	border-color: var(--bg-high);
	border-radius: 8px;
	cursor: pointer;
	font-size: 11px;
	color: var(--text);
}
.header-button:hover {
	transform: translateY(1px)
}
.header-button:active {
  transform: translateY(2px);
}

.buttons-container {
	margin: 20px;
	display: inline-flex;
	flex-direction: column;
	background-color: var(--bg-low);
	padding: 5px;
}

.link-button {
	margin: 5px;
	background-color: var(--bg-high);
	border: none;
	padding: 5px;
	color: var(--text);
	width: calc(100% - 10px);
	cursor: pointer;
}

.material-icons-outlined {
	vertical-align: -25%;
}
